dl {
  width: 100%; }
  dl dt {
    width: 94%;
    padding: 10px 3%;
    border-bottom: solid 1px #ccc; }
    dl dt .identifier, dl dt .goodsName, dl dt .pic, dl dt .isSure {
      width: 25%;
      font: 14px/30px "microsoft yahei";
      color: #000;
      text-align: center; }
  dl dd {
    width: 94%;
    padding: 10px 3%;
    border-bottom: solid 1px #ccc; }
    dl dd .idf, dl dd .gdn {
      width: 25%;
      font: 12px/60px "microsoft yahei";
      color: #666;
      text-align: center; }
    dl dd .imgWrap {
      width: 25%;
      text-align: center; }
      dl dd .imgWrap img {
        width: 60px;
        height: 60px; }
    dl dd .btnWrap {
      width: 25%;
      text-align: center; }
      dl dd .btnWrap button {
        width: 60px;
        text-align: center;
        margin-top: 10px;
        font: 12px/40px "microsoft yahei";
        color: #fff;
        border: none;
        background: #ff6600;
        background-size: 100%;
        border-radius: 4px; }
  dl dd.close button {
    background: #ccc; }
  dl dd:last-child {
    border-bottom: none; }

.fnWrap {
  border-top: solid 1px #ccc;
  width: 94%;
  padding: 10px 3%; }
  .fnWrap .finish {
    border: none;
    width: 100%;
    font: 16px/50px "microsoft yahei";
    color: #fff;
    background: #ff6600;
    text-align: center;
    border-radius: 4px; }

.tips {
  display: none;
  width: 94%;
  height: 80%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 20% 3%;
  background: rgba(0, 0, 0, 0.3); }
  .tips li {
    width: 100%;
    height: 60%;
    background: #fff;
    padding: 10% 0; }
    .tips li .imgWrap {
      width: 100%;
      text-align: center; }
    .tips li p {
      word-break: normal;
      width: 100%;
      text-align: center;
      font: 600 30px/50px "microsoft yahei";
      color: #000; }
    .tips li .des {
      width: 100%;
      text-align: center;
      font: 14px/30px "microsoft yahei";
      color: #666;
      margin-bottom: 10px; }
    .tips li .okBtn {
      width: 100%;
      text-align: center; }
      .tips li .okBtn span {
        display: inline-block;
        padding: 0 40px;
        background: #6fa0f6;
        border-radius: 2px;
        font: 14px/40px "microsoft yahei";
        color: #fff; }
