.d_body{position:relative; z-index:1;background-color:#fff; margin:60px 16px 0 16px; padding:8px;}
.d_body:after{display:block;content:"";clear:both;}
.d_content{text-align:left;}
.d_content table{ width:100%;}
.d_content h1{text-align: center;font-weight:bold; width:auto;}
.d_content h2{text-align:center;font-weight:bold; width:auto; margin-bottom:10px;}
.d_content p{text-align:left;padding:2px 8px; line-height:1.5em; width:auto;}
.d_content h5 { display:none;}
.d_content img { max-width:80%; margin:0 auto; display:block;}
/*分享*/
.d_share{bottom:0px;position:relative;}
.d_share ul li{float:left;width:50%;}
.d_share ul li a{text-decoration:none;display:block;margin:4px 8px;background-color:#E8E8E8;background-image:linear-gradient(to top, #DBDBDB, #F4F4F4);border:1px solid #ADADAB;border-radius:13px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.45), 0 1px 1px #EFEFEF inset;color:#000000;font-size:12px;padding:8px;text-align:center;text-shadow:0.5px 0.5px 1px #FFFFFF;}
.d_share ul li a img{height:22px;width:22px;vertical-align:top;float:left;}

.divmingzi{ height:2em; line-height:2em; text-align:left;}
.zuce-biaodan > input[type=text] {  border:1px solid #ccc; height: 2em; line-height: 2em; width: 100%; text-align:left;}
.zuce-biaodan > textarea{border:1px solid #ccc; width:100%; line-height:2em;}
.zuce-biaodan >select{ width:100%;}