.waiting {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  .waitWrapper {
    margin-top: 50%;
    margin-left: calc(50% - 50px);
    width: 100px;
    height: 16px;
    padding: 12px 0;
    text-align: center;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.6); 
    }
}
.interval{
    width:100%;
    height:10px;
    background:#EEEEEE;
    border-top:solid 1px #ccc;
    border-bottom:solid 1px #ccc;
}
