body{ background-color:#fff; font-size:14px;}
.i_head,.i_wel{ display:none;}
.i_hotLine { display:block; background-color:#ed1b24; background-image:url(image/tel.png); background-repeat:no-repeat; background-position:10px 2px; height:40px; line-height:40px; border-radius:10px; width:98%; margin:8px auto;}
.i_hotLine a { font-size:22px; font-family:Verdana, Geneva, sans-serif; color:#fff; text-decoration:none;}
.i_content{width:98%; margin:0px auto; overflow:hidden; padding:0;}
.i_content ul{ display:block; width:100%; margin:0 auto;}
.i_content ul li { float:left; background-color:#ed1b24;}
.i_content ul li div { background-image:url(image/tb.png); background-repeat:no-repeat; margin:0 auto; width:5em; height:3em; }
.i_content ul li#content_item1 a { width:100%; height:8.4em; position:relative; z-index:99; display:block;}
.i_content ul li#content_item1 {width: 49%; height:8.4em; margin-right:1%; }
.i_content ul li#content_item2 {width: 24.5%; height:4.1em; margin-right:1%; margin-bottom:0.3em;}
.i_content ul li#content_item3 {width: 24.5%; height:4.1em; margin-bottom:0.3em;}
.i_content ul li#content_item4 {width: 24.5%; height:4.1em; margin-right:1%;}
.i_content ul li#content_item5 {width: 24.5%; height:4.1em;}
.i_content ul li#content_item6 {width: 49%; margin-top:0.3em; margin-right:1%;}
.i_content ul li#content_item7 {width: 50%;  margin-top:0.3em;}
.i_content ul li#content_item8 {width: 49%;  margin-top:0.3em; margin-right:1%;}
.i_content ul li#content_item9 {width: 50%;  margin-top:0.3em;}
.i_content ul li#content_item2 a,.i_content ul li#content_item3 a,.i_content ul li#content_item4 a,.i_content ul li#content_item5 a{ position:relative; z-index:99; width:100%; height:4.1em; display:block;}
.i_content ul li#content_item1 div{ background-image:url(image/tb01.png); background-position:right bottom; background-repeat:no-repeat; height:100%; width:100%; }
.i_content ul li#content_item2 div{background-position:-145px 3px;}
.i_content ul li#content_item3 div{background-position:-297px 3px;}
.i_content ul li#content_item4 div{background-position:-450px 3px;}
.i_content ul li#content_item5 div{background-position:-602px 3px;}
.i_content ul li#content_item6 div{ background:none; width:100%; height:120px; overflow:hidden;}
.i_content ul li#content_item7 div{background:none; width:100%; height:120px; overflow:hidden;}
.i_content ul li#content_item8 div{background:none; width:100%; height:120px; overflow:hidden;}

.i_content ul li#content_item6 div img,.i_content ul li#content_item7 div img,.i_content ul li#content_item8 div img,.i_content ul li#content_item9 div img{ display:block; width:100%; height:auto;}

.i_content ul li span em { display:none;}
.i_content ul li#content_item1 span { text-align:left; vertical-align:top; display:block; height:100%; text-indent:1em; position:absolute; bottom:0; top:1em;}
.i_content ul li#content_item6 span,.i_content ul li#content_item8 span { position:absolute; bottom:0; background-color:#666; filter:alpha(Opacity=80);-moz-opacity:0.8; opacity:0.8; display:block; width:100%;}
.i_content ul li#content_item7 span ,.i_content ul li#content_item9 span{ position:absolute; bottom:0; background-color:#666; filter:alpha(Opacity=80);-moz-opacity:0.8; opacity:0.8; display:block; width:100%;}

.i_content ul li#content_item1 img, li#content_item2 img, li#content_item3 img, li#content_item4 img, li#content_item5 img { display:none;}

.i_content ul li p a img{ display:none;}

.i_content ul li span{ height:1.5em; line-height:1.5em; overflow:hidden; display:block; font-size:12px; font-weight:nomal; color:#fff; text-align:center;position:relative; z-index:100; display:block; bottom:1.6em;}
.i_content ul li span em { display:none;}
.i_foot{ display:none;}
.i_Navigation{ background-color:#646464; position: fixed; width:50%; padding:8px; border-radius:8px; top:100px;  z-index:3; display:none;}
.i_Navigation .l_arrow{color: #646464; font-size: 25px; position: relative; top: -15px; height: 8px; overflow: hidden;}
.i_Navigation ul{ width:100%; margin:auto; }
.i_Navigation ul li{ float:left; width:46%; padding:2%;}
.i_Navigation ul li a{ background-color:#787878; color:#fff; display:block; height:2em;  line-height:2em;}