@charset "utf-8";
/* CSS Document */ 
*{padding:0; margin:0;} 
li{ list-style:none;}
.body{
	max-width:640px;
	margin:auto;
	min-height:100%; 
	background: #efefef;
}
.nei_body{
	max-width:640px;
	margin:auto;
	min-height:100%; 
	background: #efefef;
}
html,body,div,p,table,td,ul,li,h2,h3,h4,h5,h6,h7{margin:0;padding:0;font-size:14px;font-weight: normal;line-height: 25px;color: #555555;}  
a{color: #fff;text-decoration:none;}
a:hover{color: #420100;}
.red{color: #fe0000}; 
.rb{color: #fe0000;font-weight: bolder;} 
.clear1{width:100%;height:2px;clear: both;} 
.clear2{
	width: 100%;
	height: 5px;
	clear: both;	
} 
.waiting{
	width:200px;height:40px;line-height:35px;background:#f1f1f1;border:1px solid #cccccc;
	position:absolute;z-index:1000;display: none;text-align: center;
}

.Appcontent{width: 98%;min-height:100%;height: auto;overflow:hidden;margin:0 auto;padding:0;}  
h1{margin:0;padding:0;font-size: 16px;line-height: 40px;font-weight: bolder;}
.Appcontent h1{display: none;}
  /*=== 菜单 ====*/
  .mainMenu2,.submenu,.submenu2{display: none;}  
 	.mainMenu{width:100%;height: 50px;background: url(menu_bg.jpg) repeat-x;margin:0;padding:0; }
  	.mainMenu ul{width:100%;height: 42px;margin:0;padding:0;overflow:hidden;}
	.mainMenu li{width: 33%; height: 42px; margin:0;padding:0;list-style: none;float: left;text-align: center;}
		.mainMenu li img{text-align: center;border: 0px;margin-top: 8px;} 
		#topMenu_sub{display: none;}
		#topMenu_sub{
			position: fixed;left: 42%;top: 32px;
			width: 200px; height: auto;overflow: hidden;
			z-index:999;
		}
		#topMenu_sub p{margin:0;padding:0;clear: both;} 
		#topMenu_sub_content{width: 100%;height: auto;margin:0;padding:0;background: url(topMenu_sub_bg.png) repeat-y}
		#topMenu_sub_content ul{width: 90%;height: auto;margin:0 auto;padding:0;overflow: hidden;}
		#topMenu_sub ul li{width:85px;height: 33px;line-height: 33px;background: url(topMenu_sub_li.png) no-repeat center top;float: left;margin:2px;padding:0;}
  
	#index_GoodCate{width: 98%;height: auto;overflow: hidden;margin:0 auto;padding:0;}
		#index_GoodCate ul{margin:0;padding:0;overflow: hidden;list-style:none;}
			#index_GoodCate ul li{margin:0;padding:0;text-align: left;height:50px;overflow: hidden;background:#f1f1f1 url(bt1.png) right center no-repeat; border-bottom:solid #afadad 1px;}
			#index_GoodCate ul li img{width:40px;height:40px;padding:5px;border:0;}
			#index_GoodCate ul li .menuimg {display: inline;float: left;}
			#index_GoodCate ul li .menuimg2 {display: block;}

				#index_GoodCate ul li .cate_title{line-height: 30px;text-align: center;float: left;}
					#index_GoodCate ul li .cate_title a{font-size: 16px;font-weight: 800;color: #555555}
 
				/*
				#index_GoodCate ul li:last-child{width:97%;margin:5px 0 5px 1.5%;padding:5px 0 0 0;background:  #f1f4fa;border: 1px solid #cccccc;text-align: center;
				-moz-border-radius: 5px;       -webkit-border-radius: 5px;   border-radius:5px;}
				#index_GoodCate ul li:last-child img{width:*;height:*;}
				#index_GoodCate ul li:last-child .cate_title{display: none;}*/

 
  .subleft{display: inline;margin: 0 10px 0 10px;padding:0;float: left;}
  .subright{float: left;} 
  
 #Div_prolist{width: 98%;height: auto;margin:0 auto;padding:0;overflow: hidden;}
  	#Div_prolist ul{margin:0;padding:0;overflow: hidden;}
		#Div_prolist ul li{height: auto; line-height: 40px;overflow: hidden;background: #ffffff; border: 1px solid #e1e1e1;margin: 10px 0;padding-left: 10px;text-align: left;-moz-border-radius: 3px;      /* Gecko browsers */ -webkit-border-radius: 3px;   /* Webkit browsers */ border-radius:3px;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) inset;}
			#Div_prolist ul li img{width:98%;margin: 10px 0 10px 0;}
			#Div_prolist ul li p{margin:0;padding: 0 0 0 20px;height: 30px;line-height: 30px;text-align: left;background: url(arrow2.png) center right no-repeat;
									font-size: 16px; font-weight: 600;} 
			ul.newsClass {margin:0;padding:0;overflow: hidden;}
				ul.newsClass li{height: auto; line-height: 20px;overflow: hidden;background: #ffffff; border: 1px solid #e1e1e1;margin: 10px 0;padding-left: 10px;text-align: left;-moz-border-radius: 3px;      /* Gecko browsers */ -webkit-border-radius: 3px;   /* Webkit browsers */ border-radius:3px;}
					 
					ul.newsClass li div.newsClass_img{width:90px;height:auto;overflow:hidden;float:left;}
						ul.newsClass li div.newsClass_img img{width:90px;border:0;padding:0;margin:0;}
					ul.newsClass li h4{margin:0;padding:0;font-weight:600;line-height: 30px;padding-left: 20px;}
					ul.newsClass li div.newsClass_txt{margin:0;padding:0;font-weight: normal;padding-left: 20px;}
  .proTitle{display: none;}

  .item{
		height: auto; line-height: 30px;overflow: hidden;background: #ffffff; border: 1px solid #e1e1e1;margin: 10px 0;
	 }
	 .item .img{width:98%;height: auto;margin: 10px auto;overflow: hidden;}
			.item .img img{border:0;width: 100%;}
	 .item .txt{ 
		width: 98%;
		height: auto;
		margin: 0 auto;
		padding:0;
		overflow: hidden; 
	 }
	.item .txt h3{ 
		width: 100%;
		line-height: 30px;
		overflow: hidden; 
		color: #000000;
		font-size: 18px;
		font-weight: 800; 
		text-align:left;
		} 
		
	.item .txt p{
		width: 100%;color: #666666;
		line-height: 24px;
	}
	.item .txt p span.price{ 
		font-family: Georgia, "Times New Roman", Times, serif;
		font-size: 20px; 
		font-weight: 800;
		color: #fe0000;   
	 }
	.item .txt p span.price_old{ 
		font-family: Georgia, "Times New Roman", Times, serif;
		font-size: 12px;  
		color: #cccccc;
		text-decoration: line-through;   
	 }	
	 .item .txt p.btnBuy{
	 	width: 100%;
		height: 60px;
		line-height: 60px;
		clear: both;
	 }
 
	#prolsit_more,#newslsit_more{display: block;cursor: pointer;width: 244px;height: 40px;line-height: 40px;margin:0 auto 80px;background: url(btn_bg2.png) no-repeat;text-align: center;}
		.proImg{width: 98%;text-align: center;margin: 0 auto;clear: both;}
			.proImg img{padding:1px;border:1px solid #aaaaaa;}
		 	 
		.proTxt{width: 98%;margin: 10px auto;padding: 0;clear: both;} 
			.proTxt p{line-height: 20px; font-size: 14px;}
		.proDes{clear: both;width: 98%;height: auto;overflow: hidden;margin: 10px auto;}
			.proDes h5{clear: both; line-height: 20px;border-bottom: 3px solid #adabae;font-size: 14px;margin-top: 20px;}
			.proDes p{line-height: 20px;margin: 10px auto;}
		
		
		/*----------   商品展示右侧 ----------------- */
		 
			.proTxt .price,.proTxt .price_old,.proTxt .hits{width:40%; height: auto;overflow: hidden;clear: none; margin-right:30px;float: left;}
			.proTxt .price span{font-size: 16px;font-weight: bolder;font-family: "Times New Roman", Times, serif;color: #fe0000; }
			.proTxt .price_old span{font-size: 14px; color: #aaaaaa;text-decoration:line-through;}
			.proTxt .hits span{font-size: 14px;font-family: "Times New Roman", Times, serif;}
			.proTxt .nor{clear: both;}
			
			.cartDiv{width: 90%;height: 140px;padding: 15px;margin: 20px 0 0 0;overflow:hidden; background: #fafafa;border: 3px solid #cccccc;}
				#btn_ded,#btn_add,#btn_cart_ded,#btn_cart_add{width: 20px;height: 21px;margin:0;padding:0;border:3px solid #cccccc;line-height: 10px;text-align: center;background: #ffffff;cursor:pointer;}
				#btn_num,.btn_gnum{width: 34px;height: 20px;border:3px solid #cccccc;margin:0 2px 0 2px;padding:0;line-height: 18px;background: #ffffff;text-align: center;} 
			
			#btn_cart,#btn_fav{cursor:pointer;}
			.btn_input{margin: 0 0 10px 20px;}
			.ButtonDiv{width:70%; height: auto;overflow: hidden;clear: both;margin: 0 auto; text-align: right;} 
			
		/*----------   商品展示右侧结束 ------------- */
		.notice{min-height:0px;line-height:30px;height: auto;background: #fefaca;border:1px solid #f4ef7a;margin-top:10px;padding-left: 20px;color: #666666;}
	.rb{color:#f00;font-weight:bold;}
		input{width: 200px;height: 30px;line-height: 30px;font-size: 20px;text-align: center;}
		.btn1{width: 157px;height: 40px;background: url(btn1.png) no-repeat;}
		.btn2{width: 157px;height: 40px;background: url(btn2.png) no-repeat;}
		
		
		/*   相册展示  */
		#Div_photolist{width: 98%;height: auto;margin:0 auto;padding:0;overflow-x: auto;overflow-y:hidden;}
			.phoItem{width: 360px; height: 360px;margin:0;padding:0;overlow:hidden;float: left;position: relative;}
				.phoItem img{margin: 5px;padding: 5px;border: 1px solid #fcfcfc;width: 340px; height: 340px;}
				.phoItem div.phoDes{width:340px;height:60px;margin:0;padding:5px;background: #f3f3f3;filter:alpha(Opacity=80);-moz-opacity:0.5;opacity: 0.5;z-index:100;position: absolute;left:5px;top: 290px; line-height: 20px !important;font-size: 12px;}
						div.phoDes h3{margin:0;padding:0; line-height: 25px;font-weight: bolder;}
		
		/*相册展示2*/
		.box_swipe{
				overflow:hidden;
				position:relative;
			}
			.box_swipe ul{
				-webkit-padding-start: 0px;
			}
			.box_title{
				width: 100%;
				height: 20px;
				line-height: 20px;
				z-index:9;
				position: absolute;
				bottom: 0;
				margin:0;padding:5px;background: #f3f3f3;filter:alpha(Opacity=80);-moz-opacity:0.5;opacity: 0.5;  
			}
				.box_title h3{line-height: 20px;color: #333333;}
				.box_title p{display: none;}
			.box_swipe>ol{
				width:100%;
				height:20px;
				position:absolute;
				z-index:10;
				margin:auto;
				padding-right:15px;  
				bottom:40px;
				background:none; 
				text-align:center;
			}
			.box_swipe>ol>li{
				display:inline-block;
				margin:5px 0;
				width:10px;
				height:10px; 
				border-radius: 10px;
				background:#fff;
				-webkit-box-shadow: inset 0 0 3px #aaa;
			}
			.box_swipe>ul>li img{width: 100%;}
			.box_swipe>ol>li.on{
				background:rgb(146,214,235);
			}
						
 #showBox{height: auto; line-height: 25px;overflow: hidden;background: #ffffff; border: 1px solid #e1e1e1;margin: 10px 0;text-align: left;padding:5px;-moz-border-radius: 5px;      /* Gecko browsers */ -webkit-border-radius: 5px;   /* Webkit browsers */ border-radius:5px;}
	#showBox h1{line-height: 40px;}
  
