.l_body{position:relative;padding-top:10px; z-index:1;}
.l_body:after{display:block;content:"";clear:both;}
.l_content{position:relative;z-index:1; width:96%; margin:0 auto; margin-top:40px; }
.l_content h1{border-radius:10px 10px 3px 3px; font-weight: bold;display:block;font-size:12px;color:#707070; height:32px;line-height:32px;text-align: center; background-color:#fff; margin-bottom:6px;}
.l_content ul {}
.l_content ul li{float:none; padding:10px; margin-bottom:6px;background-color: #FFF; border-radius:10px;}
.l_content ul li:after{display:block;clear:both;content:"";}
.l_content ul li a{ display:block; text-decoration:none; }
.l_content ul li a:after{display:block;clear:both;content:"";}
.l_content ul li a img{width:100%;height:auto;}
.l_content ul li a h1{font-weight:normal; font-size:12px; font-weight:bold; color:#333; padding-top:6px; height:24px; line-height:24px; border-width:0px; text-align:left; margin:0; background:none;}
.l_content p{display:block; font-size:12px;color:#999; height:14px; line-height:14px;text-align:left;}
.l_body h1.proTitle {width: 96%; margin:0 auto; display:block; font-size:12px; height:35px; line-height:35px;background-color: #FFFFFF; border:none;position: relative;z-index: 1; border-radius:3px 3px 10px 10px;overflow: hidden; }


