<div id="home">
	<div class="clearfix personalInfo">
		<img class="headPortrait l" src="img/qrcode.jpg"/>
		<div class="positinInfo l clearfix">
			<div class="market l"><p class="name">爱新觉罗</p> <p class="job">集团经理</p></div>
			<p class="area l over2">无锡市赴日的国家的高级的风格价格服务而发个鬼电饭锅人生当实创大酒店</p>
		</div>
	</div>
	<ul>
		<li class="hotel">
			<a href="#hotelList" class="clearfix">
				<div class="l">
					<i class="iconfont icon-jiudian"></i>
					<span>酒店</span>
				</div>
				<div class="r iconfont icon-gengduo"></div>
			</a>
		</li>
		<li class="stock">
			<a href="pages/stockList.html" class="clearfix">
				<div class="l">
					<i class="iconfont icon-kucun"></i>
					<span>商品库存</span>
				</div>
				<div class="r iconfont icon-gengduo"></div>
			</a>
		</li>
		<li class="report">
			<a href="pages/operateReport.html?0" class="clearfix">
				<div class="l">
					<i class="iconfont icon-iconfontbaobiao"></i>
					<span>报表</span>
				</div>
				<div class="r iconfont icon-gengduo"></div>
			</a>
		</li>
		<li class="achievement">
			<a href="pages/achievement.html" class="clearfix">
				<div class="l">
					<i class="iconfont icon-baobiao"></i>
					<span>业绩</span>
				</div>
				<div class="r iconfont icon-gengduo"></div>
			</a>
		</li>
		<li class="better">
			<a href="pages/better.html" class="clearfix">
				<div class="l">
					<i class="iconfont icon-peisong"></i>
					<span>改善点</span>
				</div>
				<div class="r iconfont icon-gengduo"></div>
			</a>
		</li>
		<div class="interval"></div>
		<li class="changePsd">
			<a href="pages/changePsd.html" class="clearfix">
				<div class="l">
					<i class="iconfont icon-xiugaimima"></i>
					<span>修改密码</span>
				</div>
				<div class="r iconfont icon-gengduo"></div>
			</a>
		</li>
		<li class="cancellation">
			<a class="clearfix">
				<div class="l">
					<i class="iconfont icon-zhuxiao"></i>
					<span>注销</span>
				</div>
				<div class="r iconfont icon-gengduo"></div>
			</a>
		</li>
	</ul>
</div>
