<div id="pickUp">
	<section class="clearfix process">
    	<dl class="publishProgress clearfix">
			<dd class="step01 l pass">
				<h3 class="icon iconfont icon-peisongzhong"></h3><h4>前台取货</h4>
			</dd>
			<dt class="progressBar01 l">
				<div class="progressCenter"></div>
			</dt>
			<dd class="step02 l">
				<h3 class="icon iconfont icon-fangjian"></h3><h4>房间选择</h4>
			</dd>
			<dt class="progressBar02 l">
				<div class="progressCenter"></div>
			</dt>
			<dd class="step03 l clearfix">
				<h3 class="icon iconfont icon-e617"></h3><h4>精准补货</h4>
			</dd>
		</dl>
	</section>
	<div class="interval"></div>
	<div class="hasTask">
		<ul>
			<li class="clearfix">
				<div class="imgWrap l">
					<img src="img/wx.png" alt="" />
				</div>
				<div class="info l">
					<h3><span>03</span> &nbsp;<span>幸福100%</span></h3>
				</div>
				<div class="num r iconfont icon-cha"> <span>10</span></div>
			</li>
			<li class="clearfix">
				<div class="imgWrap l">
					<img src="img/wx.png" alt="" />
				</div>
				<div class="info l">
					<h3><span>03</span> &nbsp;<span>幸福100%</span></h3>
				</div>
				<div class="num r iconfont icon-cha"> <span>10</span></div>
			</li>
			<li class="clearfix">
				<div class="imgWrap l">
					<img src="img/wx.png" alt="" />
				</div>
				<div class="info l">
					<h3><span>03</span> &nbsp;<span>幸福100%</span></h3>
				</div>
				<div class="num r iconfont icon-cha"> <span>10</span></div>
			</li>
			<li class="clearfix">
				<div class="imgWrap l">
					<img src="img/wx.png" alt="" />
				</div>
				<div class="info l">
					<h3><span>03</span> &nbsp;<span>幸福100%</span></h3>
				</div>
				<div class="num r iconfont icon-cha"> <span>10</span></div>
			</li>
			<li class="clearfix">
				<div class="imgWrap l">
					<img src="img/wx.png" alt="" />
				</div>
				<div class="info l">
					<h3><span>03</span> &nbsp;<span>幸福100%</span></h3>
				</div>
				<div class="num r iconfont icon-cha"> <span>10</span></div>
			</li>
			<li class="clearfix">
				<div class="imgWrap l">
					<img src="img/wx.png" alt="" />
				</div>
				<div class="info l">
					<h3><span>03</span> &nbsp;<span>幸福100%</span></h3>
				</div>
				<div class="num r iconfont icon-cha"> <span>10</span></div>
			</li>
		</ul>
		<div class="btnWrap">
			<a class="makeSure" href="pages/roomsPickUp.html">确认</a>
		</div>
	</div>
	<div class="noTask">
		暂无配送任务
	</div>
</div>
