<div id="disMyself">
	<div class="clearfix personalInfo">
		<img class="headPortrait l" src="img/qrcode.jpg">
		<div class="positinInfo l">
			<p class="market">房伟龙</p>
			<p class="managerName">配送员</p>
		</div>
	</div>
	<div class="interval"></div>
	<ul>
		<li class="deliveryTask">
			<a href="pages/deliveryTask.html" class="clearfix">
				<div class="l">
					<i class="iconfont icon-renwu"></i>
					<span>投放任务</span>
				</div>
				<div class="r iconfont icon-gengduo"></div>
			</a>
		</li>
		<li class="deliveryNote">
			<a href="pages/deliveryNote.html" class="clearfix">
				<div class="l">
					<i class="iconfont icon-jilu"></i>
					<span>投放记录</span>
				</div>
				<div class="r iconfont icon-gengduo"></div>
			</a>
		</li>
		<li class="remind">
			<a href="pages/remind.html?2" class="clearfix">
				<div class="l">
					<i class="iconfont icon-xiaoxi"></i>
					<span>提醒</span>
				</div>
				<div class="r iconfont icon-gengduo"></div>
			</a>
		</li>
		<li class="deal">
			<a href="pages/deal.html?2" class="clearfix">
				<div class="l">
					<i class="iconfont icon-yewu"></i>
					<span>业务处理</span>
				</div>
				<div class="r iconfont icon-gengduo"></div>
			</a>
		</li>
		<div class="interval"></div>
		<li class="changePsd">
			<a href="pages/changePsd.html" class="clearfix">
				<div class="l">
					<i class="iconfont icon-xiugaimima"></i>
					<span>修改密码</span>
				</div>
				<div class="r iconfont icon-gengduo"></div>
			</a>
		</li>
		<li class="cancellation">
			<a class="clearfix">
				<div class="l">
					<i class="iconfont icon-zhuxiao"></i>
					<span>注销</span>
				</div>
				<div class="r iconfont icon-gengduo"></div>
			</a>
		</li>
	</ul>
</div>
