<div id="roomStatus">
	<div class="clearfix topTitle">
		<img src="img/delivery.png" alt="" class="l"/>
		<div class="disInfo l">
			<h3>无锡实创大酒店</h3>
			<p>龙山路长江北路交叉口</p>
		</div>
	</div>
	<div class="interval"></div>
	<ul class="clearfix">
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li><li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
		<li>
			<a href="pages/roomGoods.html">
				<img src="img/room.png"/>
				<p class="roomNumber">1024</p>
				<p class="label">离</p>
			</a>
		</li>
	</ul>
</div>
