<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=120.26.129.244,1433;Initial Catalog=hongdouwsb;Persist Security Info=True;User ID=hongdouwsb;Password=Aa123465;"/>
    <!--<add name="ConnStr" connectionString="Data Source=120.26.129.244,1433;Initial Catalog=hongdouwsb;Persist Security Info=True;User ID=hongdouwsb;Password=Aa123465;"/>-->
    <!--<add name="ConnStr" connectionString="Data Source=SC-MADAIWUSI\SQLEXPRESS;Initial Catalog=hongdou;Persist Security Info=True;User ID=sa;Password=111111;" />-->
    <!--<add name="ConnStr" connectionString="Data Source=112.213.99.142,2012;Initial Catalog=hongdou1;Persist Security Info=True;User ID=hongdou1;Password=hongdou123;" />
    <add name="ConnStr39" connectionString="Data Source=112.213.99.142,2012;Initial Catalog=hongdou1;Persist Security Info=True;User ID=hongdou1;Password=hongdou123;" />-->
    <!--<add name="ConnStr39" connectionString="Data Source=dx.creatrue.net,2005;Initial Catalog=fs39t;Persist Security Info=True;User ID=fs39t;Password=t39fs;"/>-->
  </connectionStrings>
  <appSettings>
    <add key="Configpath" value="~/xmlconfig/site.config"/>
    <add key="Urlspath" value="~/xmlconfig/urls.config"/>
    <add key="Userpath" value="~/xmlconfig/user.config"/>
    <add key="Orderpath" value="~/xmlconfig/order.config"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>