.topTitle {
  width: 94%;
  padding: 10px 3%; }
  .topTitle img {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    margin-right: 10px; }
  .topTitle .disInfo .goodsName {
    font: 16px/20px "microsoft yahei";
    color: #000; }
  .topTitle .disInfo .situation {
    font: 14px/20px "microsoft yahei";
    color: #666; }

ul {
  width: 100%; }
  ul li {
    width: 94%;
    padding: 6px 3%;
    border-bottom: solid 1px #ccc; }
    ul li .l, ul li .r {
      font: 16px/30px "microsoft yahei";
      color: #333; }

.btnWrap {
  width: 94%;
  padding: 10px 3%; }
  .btnWrap a {
    display: inline-block;
    font: 16px/40px "microsoft yahei";
    color: #fff;
    background: #ef473a;
    text-align: center;
    width: 100%;
    border-radius: 2px; }
