.i_wel,.i_hotLine,.i_foot,.i_head{ display:none;}
.i_ads{ display:block;}
.i_body { background-color:#0e0d0b;}
.i_content{width:98%; margin:6px auto; overflow:hidden; padding:0;}
.i_content ul li { float:left; width:50%; margin-bottom:0.5em; color:#fff; height:10%;}
.i_content ul li div { width:97%; margin:0 auto; background-color:#2d2d2d;}
.i_content ul li p { display:block;}
.i_content ul li span { text-align:center; color:#fff; display:block; height:3em; line-height:3em;}
.i_content ul li img { text-align:center; padding-top:1em;}
.i_content ul li span em { display:none;}


.i_content ul li p a{}
.i_Navigation{ background-color:#646464; position: fixed; width:50%; padding:8px; border-radius:8px; top:100px;  z-index:3; display:none;}
.i_Navigation .l_arrow{color: #646464; font-size: 25px; position: relative; top: -15px; height: 8px; overflow: hidden;}
.i_Navigation ul{ width:100%; margin:auto; }
.i_Navigation ul li{ float:left; width:46%; padding:2%;}
.i_Navigation ul li a{ background-color:#787878; color:#fff; display:block; height:2em;  line-height:2em;}

