body {
  height: 70%;
  padding-top: 30%; }

.oldPsd, .newPsd, .newPsdRepeat {
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box; }
  .oldPsd .wrap, .newPsd .wrap, .newPsdRepeat .wrap {
    border-bottom: solid 1px #CCCCCC;
    margin-bottom: 20px; }
    .oldPsd .wrap label, .newPsd .wrap label, .newPsdRepeat .wrap label {
      width: 30%;
      text-align: center;
      font: 14px/30px "microsoft yahei";
      color: #333; }
    .oldPsd .wrap input, .newPsd .wrap input, .newPsdRepeat .wrap input {
      width: 70%;
      font: 14px/28px "microsoft yahei";
      border: none;
      position: relative;
      top: -1px; }

.newPsdRepeat {
  border-bottom: none; }

.btnWrap {
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  margin-top: 50px; }
  .btnWrap .changePsdBtn {
    width: 100%;
    font: 14px/40px "microsoft yahei";
    color: #fff;
    text-align: center;
    background: #999;
    border-radius: 2px; }
