@charset "UTF-8";

@font-face { font-family: "Ionicons"; src: url("../fonts/ionicons.eot?v=2.0.0"); src: url("../fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("../fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("../fonts/ionicons.woff?v=2.0.0") format("woff"), url("../fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg"); font-weight: normal; font-style: normal; }

body,p,h1,h2,h3,h4,h5,h6,dl,dd,select { margin:0; font-family:"微软雅黑";}
ol,ul,input,textarea,button { list-style:none; margin:0; padding:0;  font-family:"微软雅黑";}
i { font-style:normal;}
a { text-decoration:none;}
img { border:none; vertical-align:top;}
em { font-style:normal;}
body { color:#666; background-color:#fff; font-family:"微软雅黑"; font-size:100%;}
body.our_body { background-color:#f60;}
.clear:after{content:'';display:block;clear:both;}
.clear{zoom:1;}

.fl { float:left;}
.fr { float:right;}

a { font-family:"微软雅黑";}
a:link {color: #666; text-decoration:none;}
a:visited {color: #666; text-decoration:none;}
a:hover {color: #666; text-decoration:none;}
a:active {color: #666; text-decoration:none;}

input[type="button"], input[type="submit"], input[type="reset"] { -webkit-appearance: none;}

/*通用*/
.wrap { width:98%; margin-left:auto; margin-right:auto;}
.more a { display:block; font-size:82%; color:#808080; text-align:center; line-height:40px; background-color:#F3F3F3;}

.btn {background-color:#fc9800; text-align:center; border-radius:4px;}
.sport {}
.border_b { border-bottom:#dfdfdf solid 1px;}
.top_50 { padding-top:50px;}
.top_60 { padding-top:60px;}
.top_70 { padding-top:70px;}
.top_80 { padding-top:80px;}
.bot_80 { padding-bottom:46px;}

.icons {font-family: "Ionicons";/* speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; display: inline-block;*/}
.hei_15 { height:15px; background-color:#f6f6f6; border-top:#dfdede solid 1px;} 
.hei_15_nt { height:15px; background-color:#f6f6f6;} 

a.btn_buy { display:block; line-height:40px; text-align:center; width:100%; background-color:#fc9900; color:#fff; border-radius:4px;}
/*橙色顶部*/
.t_head { background-color:#fc9900; height:50px; line-height:50px; position:fixed; top:0; left:0; z-index:9998; width:100%;}
.t_head .title { display:block; width:60%; margin-left:auto; margin-right:auto; text-align:center; font-size:110%; color:#fff; font-weight:normal; line-height:50px;}
.t_head .wrap { position:relative;}
.m_t_f10 { margin-top:-10px;}

.sport .weui_mask { z-index:9999;}
.t_hf { z-index:99999; position:absolute; top:0; left:0; background-color:#fff; width:100%;}
.sport .weui_dialog_ft a.primary {border-left: 1px solid #D5D5D6;}
.sport .weui_btn_dialog.primary { color:#fc9900}
.sport .weui_cell:before { border-top:none;}

/*左箭头返回*/
.back { position:absolute; left:0; top:0; width:19%; height:50px; }
.back i:before { content: "\f124"; font-size:130%; color:#fff; line-height:50px;}

/*头部地区选择*/
a.address_th { color:#fff;}
.address_th { position:absolute; left:0; top:0; width:60px; height:50px; color:#fff; }
.address_th i:after { content: "\f123"; font-size:82%; color:#fff; line-height:50px; padding-left:6px;}

/*头部中间放大镜搜索*/
a.search_th_m { color:#A9947A;}
.search_th_m { display:block; font-size:100%; color:#A9947A; font-weight:normal; height:30px; background-color:#fffbf6; border-radius:4px; line-height:30px; text-indent:8px; z-index:9999; margin-left:65px; margin-right:35px; margin-top:10px;}
.search_th_m i { position:absolute; top:0; right:45px;}
.search_th_m i:after { content: "\f4a5"; font-size:120%; color:#A9947A;}


/*头部右侧放大镜搜索*/
.search_th { position:absolute; display:block; right:0; text-align:right; top:0px; width:20%; height:50px;}
.search_th i:before { content: "\f4a4"; font-size:150%; color:#fff; line-height:50px;}

.sport .weui_cells_radio .weui_check:checked + .weui_icon_checked:before { color:#fc9900;}
.sport .weui_cells { margin-top:0;}
.sport .weui_btn_primary { background-color:#bf2b2b; color:#fff;}
.sport .weui_btn_primary:not(.weui_btn_disabled):active { background-color:#de8700;  color:#fff;}
.sport .weui_btn_area { margin-left:0; margin-right:0;}
.sport .weui_textarea { font-size:92%;}
.sport .weui_input { font-size:92%;}
.to_l_r {  line-height:36px; text-align:center; width:100%; text-decoration:underline; }
.to_l_r a {color:#fc9900;}

/*导航按钮*/
.nav_toggle{ position: relative; cursor:pointer;}
.nav_toggle span{border-radius: 1px;display: block;height: 1px;width: 22px;background-color: #fff;}
.nav_toggle span.icon-bar{margin:4px 0 0 0}

/*带侧边栏的头部*/
#page {  }
#page a { display:block; width:100%; height:50px; text-align:right; line-height:50px;}
#page a:after { content:"\f20e"; font-size:160%; color:#FFF; }
.panel { display: none; width: 180px; background-color: #333; color: #fff;}
.b_bg { width:100%; height:100%; background:url(../images/b_tm2.png); z-index:99999; position:fixed; left:0; top:0;}
.t_head {}
.t_head .meun { width:12%; position:absolute; right:0; top:0px;}  
.head_nav { margin-top:50px;}
.head_nav li { color:#FFF; margin-left:25px; line-height:50px;}
.head_nav li a { color:#fff; padding-left:28px; display:block; position:relative; }
.head_nav li a i {font-size:130%; color:#fff; position:absolute; top:0px; left:0;}
.head_nav li.hn01 i:before {content:"\f35a";}
.head_nav li.hn02 i:before {content:"\f47c";}
.head_nav li.hn03 i:before {content:"\f472";}
.head_nav li.hn04 i:before {content:"\f259";}
.head_nav li.hn05 i:before {content:"\f47e";}
.head_nav li.hn06 i:before {content:"\f369";}



/*回顶部*/
.SiteGoTopBox a:hover { background-position: 0px -43px;}
.SiteGoTopBox a { position: absolute; bottom: 20px; right:1%; width: 46px; height: 43px; background: url(../images/goTop.png) no-repeat 0px 0px;}

#totop{position:fixed;bottom:60px;right:3%; z-index:9999; cursor:pointer; display:none;}
*html #totop{position:absolute;cursor:pointer;right:10px; display:none;top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight)-112+"px")}
#totop a{display:block; outline:none; width:50px; height:50px; background:url(../images/zhu.png) no-repeat; background-size:100% 100%;}


/*轮播图*/
.box_swipe{ overflow:hidden; position:relative;}
.box_swipe ul{-webkit-padding-start: 0px;}
.box_swipe>ol{
				width:100%;
				height:20px;
				position:absolute;
				z-index:10;
				margin:auto;
				bottom:10px;
				background:none; 
				text-align:center;
			}
.box_swipe>ol>li{
				display:inline-block;
				margin:5px;
				width:10px;
				height:10px; 
				border-radius:100%;
				background:#fff;
			}
.box_swipe>ul>li img{width: 100%;}
.box_swipe>ol>li.on{ background:rgb(255,0,0); border:none;}
.price_sc { position:relative;}
.price_sc span { display:block; 
				 position:absolute; 
				 left:0; 
				 bottom:10px; 
				 background:url(../images/tm60.png); 
				 color:#fff; 
				 padding:6px 12px;
				 z-index:9999;
				 font-size:128%;}
span.peo_num { font-family:Arial, Helvetica, sans-serif;}
span.peo_num em {font-size:72%; font-weight:normal; padding-right:4px; padding-right:4px; padding-left:4px; font-family:"微软雅黑"}
				 
/*价格*/
span.price {font-family:Arial, Helvetica, sans-serif;}
span.price em {font-size:72%; font-weight:normal; padding-right:4px;}
